:root{
    --primary :#F5EFFF;
    --sec: #E5D9F2;
    --tri:#CDC1FF;
    --four:#A294F9;

}
@font-face {
    font-family: regular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: bold;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
color:  #1F2937;
font-family: regular;
}

html,
body {
height: 100%;
width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

h1{
    font-family: bold;
}

nav{
    height: 8%;
    width: 100%;
    background-color: var(--four);
}
nav h1{
    text-align: center;
}

section{
    height: 90vh;
    width: 100vw;
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-top: 12px;
    position: absolute;
}

.elem{
    height: 300px;
    width: 260px;
    background: var(--tri);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    
}
.elem:active{
    scale: 0.97;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.fullPage{
    height: 90vh;
    width: 100%;
    background: var(--primary);
    display: none;
    position: absolute;
}

.back{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 26px;
    background: var(--tri);
    position: absolute;
    top: 4%;
    left: 2%;
    text-align: center;
    box-shadow: 0px 0px 8px var(--four);
}
.back:active{
    scale: 0.97;
}

.todo-page{
    display: block;
}



.todo-container{
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 12px;
    height: 90%;
    width: 90%;
    
    display: flex;
    gap: 12px;
    overflow: hidden;
}
.todo-container .todo-left{
    background: var(--tri);
    height: 100%;
    width: 30%;
   border-radius: 12px;
    
   
}
.todo-form{
    display: flex;
    flex-direction: column;
    padding: 23px;
    
}
.todo-form input{
    margin: 12px;
    padding: 13px;
    border-radius: 12px;
    outline: none;
    border: none;
}
.todo-form textarea{
    margin: 12px;
    padding:13px;
    border-radius: 12px;
    outline: none;
    border: none;
}

.todo-form button{
    margin: 12px;
    padding: 12px 0 ;
    border-radius: 12px;
    border: none;

    
}

.todo-container .todo-right{
    background: var(--tri);
    height: 100%;
    width: 70%;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 22px;
    align-content: start;
    gap: 12px;

}


.right-card{
    height: 32%;
    width: 30%;
    background: var(--four);
    border-radius: 12px;
    padding: 12px;
    position: relative;
}

.right-card h2{
    text-transform: capitalize;
}
.right-card h3 {
    margin-top: 12px;
    font-size: 16px;
}
.right-card button{
    position: absolute;
    bottom: 10%;
    padding: 6px 12px ;
    border-radius: 12px;
    border: none;
    background: var(--sec);
    
    
}
.right-card button:active{
    scale: 0.9;
}

.todo-imp{
    display: flex;
    align-items: center;
}
.todo-imp input{
    scale: 1.5;
}
.class-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.class-top p{
    font-size: 10px;

}

